*{ margin:0;
padding:0;

}
.forms{ width: 250px;
height: 465px;
color: #fff;
background: linear-gradient(rgba(0, 0, 0, 0.5)90%,rgba(0, 0, 0, 0.5)90% ), url(2.jpg);
position:absolute;
top: 50%;
left: 50%;
margin-top:20px;
transform: translate(-50%,-50%);
padding: 30px 25px;
border-radius: 10px;

}
.forms h1{ ;
text-align: center;
padding-left: 11px;
font-size: 1.5rem;
color:#66ff00;
margin-bottom: 20px;
}

.forms input{
width: 100%;
height: 20px;
padding-top:5px;
background: transparent;
border-bottom: 1px solid #fff;
border-top: none;
border-left: none;
border-right: none;
color: #fff;
/*question */
outline: none;
font-size: 15px;
letter-spacing:1px;
}

.paragraph{
  padding-bottom:10px;
}
.forms p{
padding-top:18px;
  }

  .forms input[type="submit"] {
  width: 70%;
  margin-left: 35px;
  border:none;
  height: 40px;
  color: #fff;
  background: #000;
margin-top:10px;
  padding:5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  }

  .forms input[type="submit"]:hover{
  background: #66ff00;
  cursor: pointer;
  color:#fff;
  font-weight: bold;
  }

body {  margin: 0;
padding:0;
background-position: center;
background-size: auto;
height: 110vh;
background: linear-gradient(rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%), url(3.jpg);
font-family: sans-serif;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
