body{


}

.main-container{

}

#side-nav{
min-width: 115px;
max-width: 115px;
}
.content{
min-height: 100vh;
width: 100%;
background-color:#A8D1D1;
}
.h1-head{
color: white;
}

.hriz{

}
.div-left-align{
float:right;
}

.row-sizes-first{
height:12rem;
}
