body{


}

.main-container{

}

#side-nav{
min-width: 170px;
max-width: 170px;
}
.content{
min-height: 100vh;
width: 100%;
background-color:#A8D1D1;
}
.h1-head{
color: white;
}

.hriz{

}
.div-left-align{
color:white;
}
.div-left-align:hover{
color:white;
}
.row-sizes-first{
height:12rem;
}
.lv{
border-radius:5px;
background: white;
padding:5px;
}
