/* Question */

*{ margin: 0;
padding: 0;
font-family: sans-serif;

}

 /* Question on how to set background */
body{ background: linear-gradient(rgba(0, 0, 0, 0.3)50%,rgba(0, 0, 0, 0.3)50%), url(2.jpg);
background-position: center;
background-size: cover;
height: 100vh;
}

.form{ width: 250px;
height: 350px;
color: #fff;
background: linear-gradient(rgba(0, 0, 0, 0.5)90%,rgba(0, 0, 0, 0.5)90% );
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 30px 25px;
border-radius: 10px;

}

.form h1{ width: 220px;
text-align: center;
padding-left: 11px;
font-size: 35px;
color:#66ff00;
margin-bottom: 20px;
}

.form p{
padding-bottom: -15px;
  }

.form input{
width: 100%;
height: 35px;
padding:3px 0px 0px 7px;
margin-bottom: 20px;
background: transparent;
border-bottom: 1px solid #fff;
border-top: none;
border-left: none;
border-right: none;
color: #fff;
/*question */
outline: none;
font-size: 15px;
letter-spacing:1px;
}

.form input[type="submit"] {

width: 40%;
margin-left: 78px;
border:none;
height: 40px;
color: #000;
background: #fff;
padding:5px;
font-size: 16px;
font-weight: bold;
border-radius: 15px;
}

.form input[type="submit"]:hover{
background: #66ff00;
cursor: pointer;
color:#fff;
font-weight: bold;
}











{

}
